* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  /* padding-bottom: 15rem; */
  background: #EBF2F7;
  font-size: 1.6em;
  font-family: Signika, sans-serif;
  min-height: 100%;
}

/* navbar */
.navbar {
  background: transparent;
  background-image: linear-gradient(to bottom, rgba(21,21,21,0.8), rgba(21,21,21,0));
  position: relative;
  border: none;
  border-radius: 0;
  margin-bottom: 0;
  width: 100%;
  z-index: 100;
}
.navbar-container {
  height: 70px;
}
.navbar-default{
  margin: 0;
}
.navbar-brand {
  float: none;
  text-align: center;
  margin: auto;
  font-family: Bree Serif, serif;
}
.logo {
  display: inline;
  height: 45px;
  margin: auto;
}
.navbar-brand img {
  height: 80px;
}
.navbar-inverse .navbar-collapse h4 {
  color: white;
}
/* end navbar */

/* footer */
.footer {
    right: 0;
    bottom: 0;
    left: 0;
    padding: 3rem;
    margin: auto;
    width: 100%;
    height: 100px;
    background: rgb(230, 240, 248);
    text-align: center;
    overflow: hidden;
    position: absolute;
}

/* end */

/*************************************************************************************
 landing page
*************************************************************************************/
/* search section */
.home-container {
  margin-top: -70px;
}
.search {
  background: url('../img/scenic.jpg');
  background-size: cover;
  background-position-y: 100%;
  height: 500px;
}
.search-overlay {
  background-color: #31081f70;
  height: inherit;
}
.home-search-container {
  margin-top: 15%;
  color: white;
}
.home-search-container h1 {
  margin: 3% 0 3% 0;
}
/* end */

/* featured routes */
.featured {
  height: 400px;
}
.featured .container {
  margin-top: 2%;
}
.featured h2 {
  margin-bottom: 2%;
}
.featured img {
  height: 200px;
}
.featured h3 {
  text-align: center;
}
/* end */

/* about us section */
.about {
  height: 400px;
  background: #2d728f;
  color: whitesmoke;
}

.about-description {
  padding-top: 4%;
}
.about-description p {
  font-weight: 300;
  font-size: 18px;
}
#carousel {
  padding-top: 10%;
}


/*-------------------------------*/
/*    Carousel Fade Transition   */
/*-------------------------------*/

#fade-quote-carousel.carousel {
padding-bottom: 60px;
}
#fade-quote-carousel.carousel .carousel-inner .item {
opacity: 0;
-webkit-transition-property: opacity;
    -ms-transition-property: opacity;
        transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
opacity: 1;
-webkit-transition-property: opacity;
    -ms-transition-property: opacity;
        transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
background-color: #ecf3f7;
border: none;
}
.carousel-indicators .active {
  width: 15px;
  height: 15px;
}
#fade-quote-carousel blockquote {
  text-align: center;
  border: none;
  padding: 2px 20px;
  margin: 0 0 0px;
}
/* end of about us section */

/* 'book with us' section */
.book-overlay {
  height: inherit;
  /* background: rgba(0, 0, 0, 0.4); */
  background-color: #31081F;
}
.book-section {
  margin-top: 8%;
}
.book {
  /* background: url('../img/road.jpg') no-repeat; */
  background-size: cover;
  height: 365px;
  margin-bottom: 7%; 
  color: whitesmoke;
}
.book h2 {
  text-align: center;
}

.carousel-inner>.item>img {
  height: 100px;
  margin: auto;
  float: none;
}
.book-icons h3 {
  font-weight: 500;
  text-align: center;
}
/* end */

/*************************************************************************************
 end of landing page
*************************************************************************************/


/* search update section */

.hero-primary {
  color: #fff;
  margin-top: -70px;
}
.update-overlay {
  background-color: #31081f70;
  height: inherit;
}
.route-update {
  background: url('../img/scenic.jpg');
  /* background-color: #127ccb; */
  background-size: cover;
  background-position-y: 100%;
  height: 250px;
  /* height: max-content; */
}
.update-route-container {
  margin-top: 7%; 
}
.route {
  display: flex;
  justify-content: space-between;
  margin-top: 1%;
  margin-bottom: 1%;
}
.text-xl {
  font-size: 1.9em;
  font-weight: 700;
}
/* search form */
.input-search-bar{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.form-input, .btn-update {
  height: 52px;
  color: #000;
}


.input-group {
  width: 100%;
  display: block;
}
.input-group input {
  width: 30%;
  border: none;
  border-radius: 3px;
}
.input-group .form-control {
  width: 28%;
}
.route-button {
  width: 100%;
  height: 52px;
}
/* end */

/*********************************************************************************
results page
**********************************************************************************/
.results {
  display: flex;
  justify-content: flex-start;
  margin-top: 1em;
  padding-bottom: 15px;
  font-size: 22px;
}
.scheduleBar .cat{
  height: 2.125em;
  background: #fff;
  border: solid 1px #d4dee5;
  border-radius: 4px 4px 0 0;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: center;
  margin-top: 5px;
  padding-left: 10px;
  font-size: 15px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.cat .bus-companies{
  flex: 1;
}

.cat .departure{
  flex: 1
}

.cat .duration{
  flex: 1;
}

.cat .seats{
  flex: 1;
}

.cat .price {
  flex: 1
}

.busSearchResults{
  display: flex;
  align-items: center;
  flex-flow: column wrap;
}

.busSearchResults .items{
  align-items: flex-start;
}


.busSearchResults .items .single-items {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px 0 rgba(0,0,0,0.02), 0 1px 5px 0 rgba(0,0,0,0.12);
  border: 1px solid #d4dee5;
  border-radius: 2px;
  margin-top: 2%;
  background: #fff;
  height: 125px;
}

.departure-card {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-left: 10px;
  padding-top: 10px;
  height: 70%;
}

.departure-row .col-md-9 {
  padding-left: 0;
  padding-right: 0; 
  height: 30%;
}

.departure-row .col-md-3 {
  padding: 0;
}
.departure-row .col-md-3 a:hover {
  text-decoration: none;
}

#bus{
  flex:1;
  font-weight: bold;
}

#departure{
  flex:1;
}

#duration{
  flex: 1
}

#seats{
  flex: 1;
}


#price{
  flex: 1
}

.departure-card-footer{
  border-top: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
  border-radius: 0 0 0 4px;
  overflow: visible;
  padding-bottom: 1px;
}
.search-button {
  width: 100.5%;
  border-radius: 0 0 3px 0;
  display: block;
  height: 37px;
}

/* Style Ratings */
.star-ratings {
  display: inline-flex;
  margin: 0.5% 0 0 2%;
}

div.star-ratings-rating-user, div.star-ratings-rating-average, div.star-ratings-rating-count {
  display: none;
}
/****************************************************************************
end of results page
*****************************************************************************/

/****************************************************************************
bus details page
*****************************************************************************/
.bus-details {
  height: 170px;
  background: #31081f;
  margin-top: -70px;
}
.bus-details-container {
  margin-top: 9%;
  color: white;
}
.detail-panels {
  margin-top: 2%;
  margin-bottom: 8%;
}
.panel-default {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px 0 rgba(0,0,0,0.02), 0 1px 5px 0 rgba(0,0,0,0.12);
}
.panel-default .panel-heading {
  background: white;
}
.panel-default .panel-heading h3 {
  font-weight: bold;
}
.passenger-form .form-control {
  height: 40px;
}

/*****************************************************************************
end of bus details page
******************************************************************************/

/*******************************************************************media queries**************************************************************************************/
@media screen
  and (min-device-width: 768px) 
  and (max-device-width: 991px)
  and (-webkit-min-device-pixel-ratio: 1) {
    .navbar-brand img {
      height: 50px;
    }
    .home-search-container {
      margin-top: 20%;
    }
    .update-route-container {
      margin-top: 10%; 
    }
    .search {
      height: 450px;
    }
    .search-button {
      width: 100%;
      border-radius: 0 0 3px 3px;
    }
    .book {
      height: 630px;
    }
  }
@media screen
  and (min-device-width: 320px) 
  and (max-device-width: 767px)
  and (-webkit-min-device-pixel-ratio: 1) {
    .navbar-brand img {
      height: 50px;
    }
    .home-search-container {
      margin-top: 20%;
    }
    .search {
      height: 450px;
    }
    .search-button {
      width: 100%;
      border-radius: 0 0 3px 3px;
    }
    .busSearchResults{
      display: block;
    }
    .book {
      height: 700px;
    }
  }