* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  width: 100%
}

body{
  background: #EBF2F7;
  font-size: 1.6em;
}

/* navbar */
.navbar {
  background: transparent;
  border: none;
  margin-bottom: 0;
}
.navbar-default{
  margin: 0;
}
/* end navbar */

/*************************************************************************************
 landing page
*************************************************************************************/
/* search section */
.search {
  background: rgba(0, 255, 255, 0.561);
  height: 400px;
}
/* end */

/* featured routes */
.featured img {
  max-height: 300px;
}
/* end */

/* 'book with us' section */
.book-overlay {
  height: inherit;
  background: rgba(0, 0, 0, 0.5);
}
.book {
    background: url('../img/road.jpg') no-repeat;
    background-size: cover;
    height: 600px;
    color: whitesmoke;
}
/* end */

/*************************************************************************************
 end of landing page
*************************************************************************************/







/* search update section */

.hero-primary{
  background-color: #127ccb;
  color: #fff;
  padding: 23px 19px;
}

.route{
  display: flex;
  justify-content: space-between;
}
.text-xl {
  font-size: 1.9em;
  font-weight: 700;
}
/* search form */
.input-search-bar{
  width:100%;
  display: flex;
  justify-content: space-evenly;
}
.form-input, .btn-update {
  height: 52px;
  color: #000;
}
.large-5{
  /* width: 41.6666666667%; */
}

.btn-update{
}
.input-group {
  width: 100%;
}
.input-group input {
  width: 30%;
  border: none;
  border-radius: 3px;
}

/***************************************************************************************
results section
*********************************************************************/
.results {
  display: flex;
  justify-content: flex-start;
  margin-top: 1em;
  padding-bottom: 15px
}

.scheduleBar .cat{
  height: 2.125em;
  background: #fff;
  border: solid 1px #d4dee5;
  border-radius: 4px 4px 0 0;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: center;
  padding-top: 5px !important;
  margin-top: 5px;
  padding-left:10px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.cat .bus-companies{
  flex: 1;
}

.cat .departure{
  flex: 1
}

.cat .duration{
  flex: 1;
}

.cat .seats{
  flex: 1;
}

.cat .price {
  flex: 1
}

.busSearchResults{
  display: flex;
  align-items: center;
  flex-flow: column wrap;
}

.busSearchResults .items{
  align-items: flex-start;
}


.busSearchResults .items .single-items {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px 0 rgba(0,0,0,0.02), 0 1px 5px 0 rgba(0,0,0,0.12);
  border: 1px solid #d4dee5;
  border-radius: 2px;
  margin-top: 10px;
  background: #fff;
  height: 100px;
}

.departure-card{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-left: 10px;
  padding-top: 10px;
}

#bus{
  /* width: 30%; */
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: flex-start; */
  flex:1;
}

#departure{
  flex:1;
}

#duration{
  flex: 1
}

#seats{
  flex: 1;
}


#price{
  flex: 1
}

.departure-card-footer{
  border-top: 1px solid #dbdbdb;
  margin-top: 35px;
  border-right: 1px solid #dbdbdb;
  border-radius: 0 0 0 4px;
  overflow: visible;
  
}

