* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  width: 100%
}

body{
  background: #EBF2F7;
  font-size: 1.6em;
  font-family: Open Sans, sans-serif;
}

/* navbar */
.navbar {
  background: #0071c7;
  position: static;
  border: none;
  margin-bottom: 0;
}
.navbar-default{
  margin: 0;
}
.navbar-brand h4 {
  color: white;
}
.navbar-inverse .navbar-collapse h4 {
  color: white;
}
/* end navbar */

/*************************************************************************************
 landing page
*************************************************************************************/
/* search section */
.search {
  background-color: #127ccb;
  background-size: cover;
  background-position-y: 20%;
  height: 400px;
}
.search-overlay {
  height: inherit;
}
.home-search-container {
  margin-top: 10%;
  color: white;
}
.home-search-container h1 {
  margin: 3% 0 3% 0;
}
/* end */

/* featured routes */
.featured img {
  max-height: 300px;
}
/* end */

/* 'book with us' section */
.book-overlay {
  height: inherit;
  background: rgba(0, 0, 0, 0.5);
}
.book {
    background: url('../img/road.jpg') no-repeat;
    background-size: cover;
    height: 600px;
    color: whitesmoke;
}
/* end */

/*************************************************************************************
 end of landing page
*************************************************************************************/







/* search update section */

.hero-primary{
  background-color: #127ccb;
  color: #fff;
  padding: 23px 19px;
  height: 300px;
}
.route-update {
  height: max-content;
  margin: auto; 
}
.route {
  display: flex;
  justify-content: space-between;
  margin-top: 1%;
  margin-bottom: 1%;
}
.text-xl {
  font-size: 1.9em;
  font-weight: 700;
}
/* search form */
.input-search-bar{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.form-input, .btn-update {
  height: 52px;
  color: #000;
}
.route-update {
  margin-top: 3%;
}


.input-group {
  width: 100%;
  display: block;
}
.input-group input {
  width: 30%;
  border: none;
  border-radius: 3px;
}
.input-group .form-control {
  width: 28%;
}
.route-button {
  width: 100%;
  height: 52px;
}
/* end */

/***************************************************************************************
results section
*********************************************************************/
.results {
  display: flex;
  justify-content: flex-start;
  margin-top: 1em;
  padding-bottom: 15px
}

.scheduleBar .cat{
  height: 2.125em;
  background: #fff;
  border: solid 1px #d4dee5;
  border-radius: 4px 4px 0 0;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: center;
  margin-top: 5px;
  padding-left: 10px;
  font-size: 15px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.cat .bus-companies{
  flex: 1;
}

.cat .departure{
  flex: 1
}

.cat .duration{
  flex: 1;
}

.cat .seats{
  flex: 1;
}

.cat .price {
  flex: 1
}

.busSearchResults{
  display: flex;
  align-items: center;
  flex-flow: column wrap;
}

.busSearchResults .items{
  align-items: flex-start;
}


.busSearchResults .items .single-items {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px 0 rgba(0,0,0,0.02), 0 1px 5px 0 rgba(0,0,0,0.12);
  border: 1px solid #d4dee5;
  border-radius: 2px;
  margin-top: 10px;
  background: #fff;
  height: 125px;
}

.departure-card {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-left: 10px;
  padding-top: 10px;
  height: 70%;
}

.departure-row .col-md-9 {
  padding-left: 0;
  padding-right: 0; 
  height: 30%;
}

.departure-row .col-md-3 {
  padding: 0;
}

#bus{
  /* width: 30%; */
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: flex-start; */
  flex:1;
}

#departure{
  flex:1;
}

#duration{
  flex: 1
}

#seats{
  flex: 1;
}


#price{
  flex: 1
}

.departure-card-footer{
  border-top: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
  border-radius: 0 0 0 4px;
  overflow: visible;
  padding-bottom: 1px;
}
.search-button {
  width: 100.5%;
  border-radius: 0 0 3px 0;
  display: block;
  height: 37px;
}

