 <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">

<head>

  <meta charset="UTF-8">

  <title>Ticket</title>
  
  <!-- Style Tickect -->
  <style>

  </style>

</head>

<body>

  <div class="details">

    <h1>Contact Information</h1>
<!--     First Name:  </br>

    Last Name:  </br>

    Email:  </br>

    Phone Number:  </br>

    
    <h1>Ticket Information</h1>
    Ticket Number:  </br>

    <h1>Payment Information</h1>

    Transaction Number:  </br> -->
    First Name: {{gotten_ticket.first_name}} </br>

    Last Name: {{gotten_ticket.last_name}} </br>

    Email: {{gotten_ticket.email}} </br>

    Phone Number: {{gotten_ticket.phone_number}} </br>

    
    <h1>Ticket Information</h1>
    Ticket Number: {{gotten_ticket.ticket_number}} </br>

    <h1>Payment Information</h1>

    Transaction Number: {{gotten_ticket.transaction_code}} </br>


  </div>
  
</body>

</html>