{% extends 'base.html'%}
{% load bootstrap3 %}
{% load widget_tweaks %}

{% block content %}
<div class="container-fluid">
    <!-- <div class="row route-update">
        <div class="update-overlay">
          <div class="container">
    
            <div class="update-route-container">
              <div class="route">
    
                  <div class="text-xl">
                    <span>{{search_departure_location}}</span>
                    <span><i class="fa fa-long-arrow-right"></i></span>
                    <span>{{search_arrival_location}}</span>
                  </div>
    
                <div class="text-xl">{{convert_to_date}}</div>
              </div>
            </div>
          </div>
        </div>  
    </div> -->
              
    <div class="container">
      <div class="col-md-8 col-lg-8">
        <div class="panel panel-default bus-details">
          <div class="panel-heading">
            <h3>Trip Details</h3>
          </div>
          <div class="panel-body">
            <h4>{{selected_bus.bus.number_plate}}</h4>
            <h4>{{selected_bus.bus.bus_organisation}}</h4>
          </div>
        </div>
      
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>Passenger Details</h3>
        </div>
        <div class="panel-body">
    
          <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
          
    
            {% for hidden_field in form.hidden_fields %}
              {{ hidden_field }}
            {% endfor %}
    
            {% if form.non_field_errors %}
              <div class="alert alert-danger" role="alert">
                {% for error in form.non_field_errors %}
                  {{ error }}
                {% endfor %}
              </div>
            {% endif %}
    
            {% for field in form.visible_fields %}
              <div class="form-group">
                {{ field.label_tag }}
    
                {% if form.is_bound %}
                  {% if field.errors %}
                    {% render_field field class="form-control is-invalid" %}
                    {% for error in field.errors %}
                      <div class="invalid-feedback">
                        {{ error }}
                      </div>
                    {% endfor %}
                  {% else %}
                    {% render_field field class="form-control is-valid" %}
                  {% endif %}
                {% else %}
                  {% render_field field class="form-control" %}
                {% endif %}
    
                {% if field.help_text %}
                  <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
              </div>
            {% endfor %}
    
            <button type="submit" class="btn btn-primary">Submit</button>
            </form>
    
        </div>
      </div>
      </div>
    </div>
</div>
{% endblock %}