{% load bootstrap3 %}
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="row footer">
        <div class="container">
            <div class="row footer-content">
                <h4>&copy <script type="text/javascript">
                    document.write(new Date().getFullYear());
                  </script> Bus Board</h4>
            </div>
        </div>
    </div>
</body>
</html>
