{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block content %}
    <div class="container-fluid home-container">
        <div class="row search">
            <div class="search-overlay">
                <div class="container">
                    <div class="home-search-container">
                        <h1>Get Bus Tickets the Easiest Way</h1>
                        <!-- search form -->
                        <form action="{% url 'search_results' %}" class="search-form search-form-inline">
                            <div class="column column-inline large-5">
                                <div class=" form-group input-search-bar ">
                                    <div class="input-group ">
                                        <input type="text" class="form-input form-control" id="search" autocorrect="off" id="SearchKeyword" data-test="search-input-input" placeholder="From" tabindex="1" value="" name="depature-location" required>
                                        <input type="text" class="form-input form-control" id="search" autocorrect="off" id="SearchKeyword" data-test="search-input-input" placeholder="To" tabindex="1" value="" name="arrival-location" required>
                                        <input type="date" class="form-input form-control" id="search" autocorrect="off" id="SearchKeyword" data-test="search-input-input" placeholder="mm/dd/yy" tabindex="1" value=""  name="travel-date" required>
                                        <div class="input-group-btn">
                                            <button class="btn btn-success route-button">Search</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- search form end -->
                    </div>
                </div>
            </div>
        </div>

        <div class="row featured hidden-xs hidden-sm">
            <div class="container">
                    <h2 class="text-center">Featured Bus Routes</h2>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <img class="img-responsive" src="{% static 'img/kisumu.jpg' %}" alt="Kisumu">
                    <h3>From Nairobi to Kisumu</h3>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <img class="img-responsive" src="{% static 'img/mombasa.jpg' %}" alt="Mombasa">
                    <h3>From Nairobi to Mombasa</h3>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <img class="img-responsive" src="{% static 'img/nakuru.jpg' %}" alt="Nakuru">
                    <h3>From Nairobi to Nakuru</h3>
                </div>
            </div>
        </div>
        <!-- <div class="row about">
            <div class="container">
                
            </div>
        </div> -->
        
        <div class="row book">
            <div class="book-overlay">
                <div class="container">
                    <div class="col-md-7">
                        <h2>About <b>Bus Board</b></h2>
                        
                        <div class="about-description">
                            <h3 class="text-center">Bus Board is an online bus booking system.</h3>
                            <p> With its comprehensive list of bus routes and schedules, travellers in Kenya can search, compare and book a bus from the comfort of their homes. The Bus Board team believes traveling is not just a journey or a tour, it is a tale and would like to assist people in sharing their story.</p>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <h2>Why book with <b>Bus Board</b></h2>
                        <section id="carousel">
                            <div class="carousel slide" id="fade-quote-carousel" data-ride="carousel" data-interval="5000">
                                <!-- Carousel indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#fade-quote-carousel" data-slide-to="0"></li>
                                    <li data-target="#fade-quote-carousel" data-slide-to="1" class="active"></li>
                                    <li data-target="#fade-quote-carousel" data-slide-to="2"></li>
                                </ol>
                                <!-- Carousel items -->
                                <div class="carousel-inner">
                                    <div class="item">
                                        <img class="img-responsive" src="{% static 'img/tickets.png' %}" alt="Tickets">
                                        <blockquote>
                                            <h4>Book bus tickets to your desired destination</h4>
                                        </blockquote>	
                                    </div>
                                    <div class="active item">
                                        <img class="img-responsive" src="{% static 'img/smile.png' %}" alt="Smile">
                                        <blockquote>
                                            <h4>Experience the convenience and satisfaction of a user-friendly website</h4>
                                        </blockquote>
                                    </div>
                                    <div class="item">
                                        <img class="img-responsive" src="{% static 'img/bus.png' %}" alt="Bus">
                                        <blockquote>
                                            <h4>Get a range of bus options from different operators</h4>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
