{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="row search">
            <div class="search-overlay">
                <div class="container">
                    <div class="home-search-container">
                        <h1>Search Bus Tickets the Easiest Way</h1>
                        <!-- search form -->
                        <form action="{% url 'search_results' %}" class="search-form search-form-inline">
                            <div class="column column-inline large-5">
                                <div class=" form-group input-search-bar ">
                                    <div class="input-group ">
                                        <input type="text" class="form-input form-control" id="search" autocorrect="off" id="SearchKeyword" data-test="search-input-input" placeholder="From" tabindex="1" value="" name="depature-location" required>
                                        <input type="text" class="form-input form-control" id="search" autocorrect="off" id="SearchKeyword" data-test="search-input-input" placeholder="To" tabindex="1" value="" name="arrival-location" required>
                                        <input type="date" class="form-input form-control" id="search" autocorrect="off" id="SearchKeyword" data-test="search-input-input" placeholder="mm/dd/yy" tabindex="1" value=""  name="travel-date" required>
                                        <div class="input-group-btn">
                                            <button class="btn btn-success route-button">Search</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- search form end -->
                    </div>
                </div>
            </div>
        </div>

        <div class="row featured">
            <div class="container">
                    <h1>Featured Bus Routes</h1>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <img class="img-responsive" src="{% static 'img/kisumu.jpg' %}" alt="Kisumu">
                    <a href="#"><h3>From Nairobi to Kisumu</h3></a>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <img class="img-responsive" src="{% static 'img/mombasa.jpg' %}" alt="Mombasa">
                    <a href="#"><h3>From Nairobi to Mombasa</h3></a>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <img class="img-responsive" src="{% static 'img/nakuru.jpg' %}" alt="Nakuru">
                    <a href="#"><h3>From Nairobi to Nakuru</h3></a>
                </div>
            </div>
        </div>
        <div class="row book">
            <div class="book-overlay">
                <div class="container">
                    <h1>Why book with <b>Bus Board</b></h1>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <img class="img-responsive" src="{% static 'img/tickets.png' %}" alt="Tickets">
                        <p>Book bus tickets to your desired destination</p>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <img class="img-responsive" src="{% static 'img/smile.png' %}" alt="Smile">
                        <p>Experience the convenience and satisfaction of a user-friendly website</p>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <img class="img-responsive" src="{% static 'img/bus.png' %}" alt="Bus">
                        <p>Get a range of bus options from different operators</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
