{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="row search">

        </div>
        <div class="row featured">
            <div class="container">
                    <h1>Featured Bus Routes</h1>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <img class="img-responsive" src="{% static 'img/kisumu.jpg' %}" alt="Kisumu">
                    <a href="#"><h3>From Nairobi to Kisumu</h3></a>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <img class="img-responsive" src="{% static 'img/mombasa.jpg' %}" alt="Mombasa">
                    <a href="#"><h3>From Nairobi to Mombasa</h3></a>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <img class="img-responsive" src="{% static 'img/nakuru.jpg' %}" alt="Nakuru">
                    <a href="#"><h3>From Nairobi to Nakuru</h3></a>
                </div>
            </div>
        </div>
        <div class="row book">
            <div class="book-overlay">
                <div class="container">
                    <h1>Why book with <b>Bus Board</b></h1>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <img class="img-responsive" src="{% static 'img/tickets.png' %}" alt="Tickets">
                        <p>Book bus tickets to your desired destination</p>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <img class="img-responsive" src="{% static 'img/smile.png' %}" alt="Smile">
                        <p>Experience the convenience and satisfaction of a user-friendly website</p>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <img class="img-responsive" src="{% static 'img/bus.png' %}" alt="Bus">
                        <p>Get a range of bus options from different operators</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
