{% load bootstrap3 %}
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
        <nav class="navbar fixed-top navbar-toggleable-sm navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-brand">
                        <a href="{% url 'home' %}"><h4>Bus Board</h4></a>
                    </div>
                </div>
                <div class="navbar-collapse collapse navbar-right" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="nav-item" data-toggle="collapse" data-target="#navbar-collapse"><a href="#"><h4>About</h4></a></li>
                        {% if user.is_authenticated %}
                        <li class="nav-item" data-toggle="collapse" data-target="#navbar-collapse"><a href="/logout"><h4>Logout</h4></a></li>
                        {% else %}
                        <li class="nav-item" data-toggle="collapse" data-target="#navbar-collapse"><a href="#"><h4>Sign In</h4></a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
</body>
</html>